---
import { getLanguageFromURL } from '../../languages';
import ThemeToggleButton from './ThemeToggleButton';
import { COMMUNITY_INVITE_URL, REPORT_ISSUE_URL } from '../../consts';
import  i18next from "i18next";

type Props = {
	editHref: string;
	lang: string;
};

const { editHref, lang } = Astro.props;
const showMoreSection = true;
i18next.changeLanguage(lang);
const editPageText = i18next.t("editPage", "Edit this page");
const joinCommunityText = i18next.t("joinCommunity", "Join our community");
const translatedContentDisclaimer = i18next.t("translatedContentDisclaimer", 
"Please let us know if something isn't right. Our translator isn't quite sentient yet, but does incorporate feedback, so please leave some tips!");
const reportIssue = i18next.t("reportIssue", "Get in touch on Github");

const communitySidebarTitle = i18next.t("communitySidebarTitle", "Community");

---

{showMoreSection && <h2 class="heading">{communitySidebarTitle}</h2>}
<ul>

		{
			lang != "en" && (
				<li class={`header-link depth-2`}>
					<span>{translatedContentDisclaimer}</span>
				</li>
			)
		}
	{
		REPORT_ISSUE_URL && (
			<li class={`header-link depth-2`}>
				<a href={REPORT_ISSUE_URL} target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg"
						role="img" 
						aria-hidden="true"
						focusable="false"
						width="1em" height="1em" fill="currentColor" 
						class="bi bi-envelope-open-heart-fill" viewBox="0 0 16 16">
						<path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l4.222 2.475c.024-.058.05-.114.08-.17.665-1.3 2.362-1.917 3.698-1.25 1.336-.667 3.033-.05 3.699 1.25a3.3 3.3 0 0 1 .08.17L16 5.713V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM0 6.873l4 2.344c-.012.542.124 1.117.416 1.694l.004.006L0 13.372v-6.5Zm.059 7.611 4.9-2.723c.563.73 1.383 1.467 2.49 2.198l.551.365.551-.365c1.107-.73 1.927-1.467 2.49-2.198l4.9 2.723A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516ZM16 13.372l-4.42-2.455.004-.006c.292-.577.428-1.152.415-1.694L16 6.873v6.5Z"/>
						<path d="M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
					</svg>
					<span>{reportIssue}</span>
				</a>
			</li>
		)
	}
	{
		editHref && (
			<li class={`header-link depth-2`}>
				<a class="edit-on-github" href={editHref} target="_blank">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="pen"
						class="svg-inline--fa fa-pen fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						height="1em"
						width="1em"
					>
						<path
							fill="currentColor"
							d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
						/>
					</svg>
					

					<span>{editPageText}</span>

				</a>
			</li>
		)
	}
	{
		COMMUNITY_INVITE_URL && (
			<li class={`header-link depth-2`}>
				<a href={COMMUNITY_INVITE_URL} target="_blank">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="comment-alt"
						class="svg-inline--fa fa-comment-alt fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						height="1em"
						width="1em"
					>
						<path
							fill="currentColor"
							d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
						/>
					</svg>
					<span>{joinCommunityText}</span>
				</a>
			</li>
		)
	}

</ul>
<div style="margin: 2rem 0; text-align: center;">
	<ThemeToggleButton client:visible />
</div>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
